<h2 class="text-center">Resend Confirmation Instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control", autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-normal"%>
  </div>

<% end %>
